*{
    margin:0;
    padding:0;
}
:root{
    --bgcolor:rgba(255, 255, 255, 0.2);
}
.body{
    background:url(../img/cyberpunk.jpg);
    background-repeat: no-repeat;
}
.container{
    margin-top: 5%;
    border-radius:10px;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: var(--bgcolor) ;
    border-radius:10px;
    color:#fff;
    box-shadow: 2px 2px 20px 2px rgba(27, 216, 207, 0.3);
    margin-left:-10%;
}
.form,.login,.password,.check,.btn{
    padding: 3%;
}
.log{
    background-color: transparent;
    border:0;
}
.password{
    margin-top:10px;
}
.login,.password{
    font-size:17px;
    font-family: sans;
    font-style: italic;
}
.log{
    text-align:center;
    font-size: 30px;
    font-family:sans;
    font-weight:bold;
    text-transform: uppercase;
}
.email,.pass{
    width:35%;
}
input{
    border:0;
    border-radius:20px;
    background-color: transparent;
    border-bottom: 2px solid #00bbff;
    outline:none;
    color:#61fff4;
    width:50%;
    filter:drop-shadow(1px 1px 1px #01b3ff);
    text-align:center;
}
.box{
    font-family: serif;
    font-size: 16px;
    font-style: normal;
    padding: 0 5px 0 0;
    font-weight:500;
}
.forgot{
    padding-left:10px;
    animation:colour1 3s infinite forwards;
    transition:ease-in-out;
    text-decoration:none;
}
.ft,.at{
    cursor:text;
    color:#000;
    text-decoration:none;
}
.ft:hover,.at:hover{
    color:#000;
}
.account{
    animation:colour2 3s infinite backwards;
    padding-left:25%;
    text-decoration:none;
    transition:ease-in-out;
}
.account:hover{
    color:rgb(255, 213, 0);
    filter:drop-shadow(1px 1px 1px #000);
    animation:none;

}
.forgot:hover{
    color:rgb(255, 213, 0);
    filter:drop-shadow(1px 1px 1px #000);
    animation:none;
}
.lb{
    margin-left:10%;
    padding-left:5%;
}
.btn{
    outline:none;
    border:transparent;
}
.sub{
    margin-left:15%;
    border:transparent;
    outline:none;
    padding-left:5%;
}
.lob:hover,.siub:hover{
    border-radius: 50px;
    border:transparent;
    outline:none;
    background: linear-gradient(75deg,rgb(68, 17, 102,0.5),#375ac3);
    color:#00fa9a;
    box-shadow:1px 1px 5px #f5fffa;
    transform: scale(1.2);
}
.lob,.siub{
    border:transparent;
    border-radius: 50px;
    padding:5%;
    width:100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes colour1{
    from{color:rgb(251, 244, 183);}
    to{color:rgb(194, 255, 103);}
}
@keyframes colour2{
    from{color:rgb(194, 255, 103);}
    to{color:rgb(251, 244, 183);}
}
@media screen and (min-width:770px) {
    .card{margin-left:25%;}
}
@media screen and (min-width:550px) {
    .card{width:396px;}
}
@media screen and (max-width:549px) {
    .card{
        width:310px;
    }
    .box{
        font-size: 16px;
        padding:0;
    }
    .check{
        padding:0;
    }
    .forgot{
        font-size:16px;
        padding-left:0;
    }
    .lob{
        margin-left:-50%;
    }
}