*{
    padding:0;
    margin:0;
}
:root{
    --bgcolor:rgba(0, 0, 0, 0.2);
}
body{
    background:url(../img/cliff.jpg) no-repeat;
    background-size: cover;
}
.header{
    line-height:5;
    margin-top:5px;
}
.navbar{
    align-items: center;
    text-align: center;
    margin-left:20%;
}
.nav-list{
    list-style: none;
    text-decoration:none;
    display: inline;
    text-align:center;
    margin-bottom:-10%;
}
a{
    color:#8dffa7;
    text-decoration:none;
}
a:hover{
    color:#8dffa7;
    
}

/* login */
.container{
    margin-top: 5%;
    border-radius:10px;
    justify-content: center;
    align-items: center;
    margin-left:55%;
    width:45%;
}
.card,.card1,.card2{
    background-color: var(--bgcolor) ;
    border-radius:10px;
    color:#fff;
    box-shadow: 2px 2px 20px 2px rgba(27, 216, 207, 0.3);
    display: none;
    position:relative;
}
.card1{
    margin-top:-5%;
}
.card2{
    margin-top:-10%;
}
.form,.login,.password,.check{
    padding: 3%;
}
.login,.password{
    margin-left:15%;
}

.log{
    background-color: transparent;
    border:0;
}
.password{
    margin-top:10px;
}
.sign{
    cursor: pointer;
    color:#8dffa7;

}
.login,.password{
    font-size:17px;
    font-family: sans;
    font-style: italic;
}
.log{
    text-align:center;
    font-size: 30px;
    font-family:sans;
    font-weight:bold;
    text-transform: uppercase;
}
.email,.pass{
    width:25%;
}
input{
    border:0;
    border-radius:20px;
    background-color: transparent;
    border-bottom: 2px solid #0bf;
    outline:none;
    width:70%;
    filter:drop-shadow(1px 1px #f7f7f7);
    text-align:center;
}
::placeholder{
    color:#0fb;
    opacity:0.5;
}
.box{
    font-family: serif;
    font-size: 16px;
    font-style: normal;
    padding: 0 5px 0 0;
    font-weight:500;
}
.forgot{
    padding-left:10px;
    animation:colour1 3s infinite forwards;
    transition:ease-in-out;
    text-decoration:none;
    font-size: 13px;
    filter: drop-shadow(1px 1px #000);
}
.da{
    font-size: 16px;
    color:rgb(255, 245, 245);
    position: relative;
    padding-left:15%;
    filter: drop-shadow(1px 1px #000);
    font-weight:600;
}
.ft,.at{
    cursor:text;
    color:#000;
    text-decoration:none;
}
.ft:hover,.at:hover{
    color:#000;
}
.account,.accountl{
    animation:colour2 3s infinite backwards;
    padding-left:2%;
    text-decoration:none;
    transition:ease-in-out;
}
.account:hover,.accountl:hover{
    color:rgb(255, 213, 0);
    filter:drop-shadow(1px 1px 1px #000);
    animation:none;

}
.forgot:hover{
    color:rgb(255, 213, 0);
    filter:drop-shadow(1px 1px 1px #000);
    animation:none;
}
.btn{
    outline:none;
    border:transparent;
}
.sub{
    margin-left:15%;
    border:transparent;
    outline:none;
    padding-left:5%;
}
.lob:hover,.siub:hover{
    border-radius: 50px;
    border:transparent;
    outline:none;
    background: linear-gradient(75deg,rgb(68, 17, 102,0.5),#375ac3);
    color:#00fa9a;
    box-shadow:1px 1px 5px #f5fffa;
    transform: scale(1.2);
}
.lob,.siub{
    border:transparent;
    border-radius: 50px;
    padding:3%;
    font-size: 25px;
    width:85%;
    font-family:sans-serif;
}
@keyframes colour1{
    from{color:rgb(251, 244, 183);}
    to{color:rgb(194, 255, 103);}
}
@keyframes colour2{
    from{color:rgb(194, 255, 103);}
    to{color:rgb(251, 244, 183);}
}
@media screen and (min-width:501px) and (max-width:3500px) {
    .card,.card1,.card2{
        width: 396px!important;
    }
    .box{
        margin-left:-10%;
        font-size: 15px;
    }
    .forgot{
        margin-left:50%;
    }
    .da{
        font-size: 16px;
    }
}
@media screen and (max-width:650px) {
    .da{
        font-size: 12px;
    }
    
    .check{
        padding:0;
    }
    .forgot{
        padding-left:0;
    }
    .account,.accountl{
        padding-left:0;
    }
}
.cb{
    width:10%;
    margin-left:15%;
}

@media screen and (max-width:500px) {
    .container{
        width:100%;
        margin-left:0;
    }
    .card,.card{
        width:100%;
    }
    .cb{
        margin-left:0%;
    }
    .already{
        margin-left:-10%;
    }
}