*{
    margin:0;
    padding:0;
    background-color: #1a1a1a;
}
.r{
    margin: 5%;
}
.Blue,.Blue1{
    align-items: center;
    width:19vw;
    height: 19vw;
    border-radius:100%;
    border:2px solid #057ee0 ;
    z-index: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:radial-gradient(#ffffff 15%,#01ffff 45%,#0000ff 80%);
    opacity:1;
}
.white2{
    width: 28vw;
    height: 28vw;
    border-radius:50%;
    display: flex;
    position: absolute;
    background-color: transparent;
    z-index: 1;   
}
.white1{
    align-items: center;
    border-radius:100%;
    width: 25vw;
    height: 25vw;
    justify-content: center;
    background-color: rgb(255,255,255,0);
    display: flex;
    border-radius: 100%;
    filter: drop-shadow(0vw 0vw 2vw rgb(255, 255, 255));
    flex-wrap: wrap;
    position: absolute;
    z-index: -5;
    border-image-repeat:repeat;
    animation: stripes 25ms infinite forwards;
}
.inner1,.inner2,.inner3,.inner4,
.inner5,.inner6,.inner7,.inner8,
.inner9,.inner10,.inner11,.inner12,
.inner13,.inner14,.inner15,.inner16
{
    border-radius:100% 50% 100% 50%;
    border:2px solid #fff;
    opacity: 0.6;
    filter: drop-shadow(1vw 1vw 2px #fff);
    background: transparent;
    padding: 12%;
    position: absolute;
    z-index: 2;
    margin: 6%;
}
.inner1,.inner2,.inner3,.inner4,
.inner5,.inner6,.inner7,.inner8{
    width:65%;
    height: 60%;
}
.inner9,.inner10,.inner11,.inner12,
.inner13,.inner14,.inner15,.inner16{
    width:55%;
    height: 15%;
}
.inner1{animation: icircle1 15ms infinite -10ms linear;}
.inner2{animation: icircle2 95ms infinite -10ms linear;}
.inner3{animation: icircle3 45ms infinite -10ms linear;}
.inner4{animation: icircle4 25ms infinite -10ms linear;}
.inner5{animation: icircle5 65ms infinite -10ms linear;}
.inner6{animation: icircle6 12.5ms infinite -10ms linear;}
.inner7{animation: icircle7 98ms infinite -10ms linear;} 
.inner8{animation: icircle8 1s infinite -10ms linear;}
.inner9{animation: icircle9 78ms infinite -10ms linear;}
.inner10{animation: icircle10 84ms infinite -10ms linear;}
.inner11{animation: icircle11 56ms infinite -10ms linear;}
.inner12{animation: icircle12 24ms infinite -10ms linear;}
.inner13{animation: icircle13 97ms infinite -10ms linear;}
.inner14{animation: icircle14 26ms infinite -10ms linear;}
.inner15{animation: icircle15 150ms infinite -10ms linear;}
.inner16{animation: icircle16 84ms infinite -10ms linear;}

@keyframes icircle1{
    100%{transform: rotateX(135deg);}
    0%{transform: rotateZ(360deg);}
}
@keyframes icircle2{
    0%{transform: rotateZ(85deg);}
    100%{transform: rotateX(350deg);}
}
@keyframes icircle3{
    0%{transform: rotateY(45deg);}
    100%{transform: rotateZ(310deg);}
}
@keyframes icircle4{
    100%{transform: rotateZ(175deg);}
    0%{transform: rotateX(360deg);}
}
@keyframes icircle5{
    0%{transform: rotateY(205deg);}
    100%{transform: rotateX(360deg);}
}
@keyframes icircle6{
    0%{transform: rotateZ(296deg);}
    100%{transform: rotateY(360deg);}
}
@keyframes icircle7{
    100%{transform: rotateY(335deg);}
    0%{transform: rotateZ(315deg);}
} 
@keyframes icircle8{
    100%{transform: rotateY(15deg);}
    0%{transform: rotateY(360deg);}
} 
@keyframes icircle9{
    100%{transform: rotateX(-135deg);}
    0%{transform: rotateZ(-360deg);}
}
@keyframes icircle10{
    0%{transform: rotateZ(-85deg);}
    100%{transform: rotateX(-350deg);}
}
@keyframes icircle11{
    0%{transform: rotateY(-45deg);}
    100%{transform: rotateZ(-310deg);}
}
@keyframes icircle12{
    100%{transform: rotateZ(-175deg);}
    0%{transform: rotateX(-360deg);}
}
@keyframes icircle13{
    0%{transform: rotateY(-205deg);}
    100%{transform: rotateX(-360deg);}
}
@keyframes icircle14{
    0%{transform: rotateZ(-296deg);}
    100%{transform: rotateY(-360deg);}
}
@keyframes icircle15{
    100%{transform: rotateY(-335deg);}
    0%{transform: rotateZ(-315deg);}
} 
@keyframes icircle16{
    100%{transform: rotateY(-15deg);}
    0%{transform: rotateY(-360deg);}
} 
@keyframes stripes {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
